.CryptoCard {
  overflow: hidden;
  text-align: center;
  border-radius: 1rem;
  position: relative;
  width: 320px;
  margin: 2rem;
  background-color: #1a1a1c;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
}

.button {
  padding: 2%;
}

.cryptoLogo {
  width: 8rem;
  margin-top: 1.2rem;
  height: 40px;
  width: 40px;
  clip-path: circle(60px at center);
  background-color: #1a1a1c;
}

.cryptoNameWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  font-weight: 700;
  background-color: #1a1a1c;
}

.cryptoName {
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
  background-color: #1a1a1c;
}

.cryptoSymbol {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  padding-left: 8px;
  background-color: #1a1a1c;
  color: white;
}

.priceContainerUP {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: none;
  font-size: 1rem;
  color: white;
  padding: 1rem;
  background-color: #11d811;
}

.priceContainerDOWN {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: none;
  font-size: 1rem;
  color: white;
  padding: 1rem;
  background-color: #f00606;
}

svg {
  background-color: transparent;
}

.priceChange {
  background-color: transparent;
  padding-left: 10px;
  text-shadow: 0 0 14px black;
  color: white;
}

.cryptoPrice {
  width: auto;
  background-color: transparent;
  color: white;
}

.cryptoMC {
  width: auto;
  padding-top: 8px;
  background-color: transparent;
  color: white;
}

.cryptoVolume {
  width: auto;
  padding-top: 6px;
  padding-bottom: 8px;
  background-color: transparent;
  color: white;
}
